.scrollup{
    position:fixed;
    right: 3.5rem;
    bottom: 3rem;
    background-color: var(--title-color);
    opacity:0.8;
    padding:0.3rem 0.5rem;
    border-radius:1.5rem;
    height: 3rem;
    width: 3rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollup__icon{
    font-size: 5rem;
    color: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.scrollup:hover{
    background-color:  var(--title-color-dark);
}

/*  Show Scroll*/

.show-scroll{
    bottom:3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .scrollup{
        right:1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollup__icon{
        font-size: 5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
   .show-scroll{
    bottom:4rem;
   }
  }
  
 
  
  /* For small devices */
  @media screen and (max-width: 350px) {
   .scrollup{
    right: 1rem;
   }
  }
  