.work__filters{
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 0.75rem;
    margin-bottom:  var(--mb-2);
}

.work__item{
    cursor:pointer;
    color: var(--title-color);
    padding:0.25rem 0.75rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.work__item:hover{
    background-color: rgb(58, 173, 177);
    color: var(--container-color);
}

.work__container{
    grid-template-columns: repeat(2,max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    transition: 0.4s;
    width:400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work__card2{
    background-color: var(--container-color);
    /* border: 1px solid rgba(0,0,0,0.1); */
    padding: 1.25rem;
    border-radius: 1rem;
    transition: 0.4s;
    min-width: 350px;
    min-height: 350px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work__img{
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);

}

.work__img2{
    width: 375px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    object-fit: cover;


}

.work__title{
    font-size: var(--h3-font-size);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__title2{
    font-size: var(--h3-font-size);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-0-5);
    text-align: center;
    padding-bottom: 5px;
    

}

.work__card-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    padding-bottom: 4px;
    
}

.work__card-info-catdate{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 5px;
}

.work__card-info-cat{
color: rgba(255, 166, 0, 0.982);
font-size:larger;
}

.work__card-info-cat:hover{
color: rgba(193, 127, 3, 0.947);
}

.work__card-info-date{
color: gray;
font-size:medium;

}

.work__card-info-date:hover{
color: black;
}

.blog__page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.work__button{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items:center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.work__button2{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items:center;
    justify-content: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.work__social-icon{
    font-size:1.25rem;
    color: var(--title-color);
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.work__button-icon{
    font-size: 1rem;
    transition: 0.4s;
}

.work__button-icon2{
    font-size: 1.5rem;
    transition: 0.4s;   
}


.work__button:hover .work__button-icon{
    transform: translateX(0.25rem);
}

.work__button:hover .work__button-icon2{
    transform: translateX(0.25rem);
}

.work__button2:hover .work__button-icon2{
    transform: translateX(0.25rem);
}

.work__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem ;
    opacity: 0;
    visibility:hidden;
    transition:.3s;
 
    
}

.work__modal-content{
    width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.work__modal-close{
    position:absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.work__modal-title,
.work__modal-description{
    text-align: center;
}

.work__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.work__modal-description{
    font-size: var(--normal-font-size);
    padding: 0 3.5rem;
    margin-bottom:var(--mb-1)
}

.work__button:hover{
    color: cadetblue;
} 

.work__button2:hover{
    color: cadetblue;
} 

.work__social-icon:hover{
    color: cadetblue;
} 

 .work__modal-close:hover{
    color: cadetblue;
}

.work__modal-img{
    width: 400px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    
}


.work__card:hover{
    transform: translateY(-10px); 
    border-width: 0.35rem; 
    border-color:darkcyan; 
    transition: 0.4s;
}


.work__list{
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0.8rem;

}


/*Active Work*/

.active-work{
    background-color: cadetblue;
    color: var(--container-color);
}

.active-modal{
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .work__container{
       gap: 1.25rem;
    }
    
    .work__card{
        padding:1rem;
    }

    .work__img{
        margin-bottom: 0.75rem;
    }

    .work__title{
        margin-bottom: 0.25rem;
    }
  }

   /* For medium devices */
   @media screen and (max-width: 768px) {
    .work__container{
        grid-template-columns: max-content;
    }
  }

  @media screen and (max-width: 576px) {
    .work__container{
        grid-template-columns: 1fr;
    }

    .work__img{
        width: 100%;
    }

    .work__modal{
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .work__modal-description{
        padding: 0;
    }

    
  }

  /* For small devices */
  @media screen and (max-width: 350px) {
    .work__item{
        font-size: var(--small-font-size);
    }

    .work__filter{
        column-gap: 0.25rem;
    }
  }